.event-card {
    position: relative;
    background-position: center center;
    background-size: cover;
}

.event-card:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.5%, #000000 100%);
    opacity: 0.9;
    border-radius: 16px;
    z-index: 1;
}

.event-card-details {
    visibility: hidden;
    opacity: 0;
    transition: all ease-in .4s;
}

.event-card:hover .event-card-details {
    visibility: visible;
    opacity: 1;
}