@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-bebas-neue: "Bebas Neue", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --color-actify-red: #ff8f8f;
    --color-actify-yellow: #fff1cb;
    --color-actify-blue: #c2e2fa;
    --color-actify-violet: #b7a3e3;
}

.actify-btn-pill {
    @apply text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-7 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none cursor-pointer;
}

body {
    font-family: var(--font-poppins);
}

.dark body {
    background-color: #111827;
}

.header ul li a.active {
    @apply text-blue-700;
}

.register-area,
.login-area,
.create-event-area {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 650px;
}

.register-area,
.login-area {
    background-image: url("../src/assets/register-image.png");
}

.dark .register-area,
.dark .login-area {
    background-image: none;
}

.swal2-show {
    display: flex !important;
    align-items: center;
	padding-top: 15px;
	border-radius: 16px;
}

.swal2-title {
    font-family: var(--font-poppins);
	font-size: 18px;
	color: #000;
	padding-top: 0;
}

.swal2-icon {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 0;
    zoom: .5;
    margin-bottom: 0;
}

/* .create-event-area {
	background-image: url('../src/assets/create-event-bg.png');
} */

/* .register-area:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(244, 242, 235, .9);
} */
